body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

#content-wrap{
    display: flex;
    justify-content: center;
}
/* nav */
header {
    text-align: center;
    width: 100%;
    max-width: 970px;
    box-sizing: border-box; 
    background-color: white; 
    opacity: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
}

.logo {
    width: 110px;
    height: 30px;

}


header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0px 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin-right: 20px;
}

#search-box {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    size: 10px;
}

nav ul li a:hover {
    color: #555;
}

#search-box {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #555;
}

.sign-up-btn {
    background-color: #24e0be;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

/* banner */
main{
    max-width: 970px;
    margin-top: 100px;
    position: relative; 
    display: block;
    align-items: center;
    /* border:1px solid red; */
}

.slides-wrap {
    width : 970px;
    height: 280px;
    /* border: 5px solid blue; */
    display:flex;
    
    overflow: hidden;
    position: relative;
}

.slide-box{
    display: flex;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;

    position: absolute;
    left : 0px;
}

li { 
    list-style: none;
}

.slide-img{
    width: 970px;
    height: 100%;
}

li:first-child > .slide-img {
    background-image: url("img/image2.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size : contain;
}

li:nth-child(2) > .slide-img {
    background-image: url("img/image1.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size : contain;
}

li:last-child > .slide-img {
    background-image: url("img/image3.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size : contain;
}

/* menu */
#menu-wrap{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0;
}

#menu-box{
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5em;
    padding: 0
}

.menu-img-wrap{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.261);
    border-radius: 20px;

    width: 48px;
    height: 48px;

}


.menu-icon{ 
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* popular-sevice */
#popular-service-wrap > h2{
    margin-top: 0;
    margin-bottom: 20px;
}
#popular-service-wrap{
    padding:0;
    margin: auto auto 5rem;
    /* border: 1px solid red; */
}

#popular-service-box-wrap{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    margin: auto auto 6rem;
}

.popular-service-wrap-wrap{
    display: block;
    box-sizing: border-box;
    padding: 0 0.3rem;

}
#popular-service{
    margin: 0;
    padding: 0;
    padding-left: 0.3rem;
    width: 60rem;
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    overflow: hidden;

}

.popluar-img-wrap > img{
    width: 231px;   
    height: 153px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.view-title{
    width: 100%;
    height: 21px;
    margin-bottom: 5px;
    padding: 0;
}

.view-title, .view-count{
    text-align: left;   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.view-count{
    padding: 0;
    height: 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: rgb(115, 115, 115);
    display: inline;
    align-content: center;

}

.view-count-wrap{
    display: flex;
    height: 16px;
    padding: 0;

}

.view-count-wrap > img{
    margin-right: 0.375rem;
    width: 16px;
    height: 16px;
}


/* 베스트리뷰(숨은 고수를 발견했어요) */
#review-wrap{
    margin:0;
    padding: 0;
    /* border: 1px solid red; */
    width: 60.625rem;
}

#review-box-wrap{
    display: flex;
    justify-content: center;
    border: 1px solid orange;
}

.review-box{
    width: calc(50% - 0.5rem);
    border:1px solid green;
}

.pro-info-wrap > img{
    width: 3rem;
    height: 3rem;   
    margin-right: 0.75rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 50%;
    
}

.pro-info-wrap{
    display: flex;
}



.pro-name{
    margin-top: 0.125rem;
    font-weight: 700;
}
.pro-sector{
    font-weight: 500;
    color: #737373;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.best-score > ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;

}

.best-score > ul > li{
    margin-right: 0.02rem;  
}

.best-content  > p{
    height: 3.8125rem;
    font-size: .875rem;
    margin: 0 0 0.5rem;
    max-height: 4.5em;
    line-height: 1.5;
    overflow: hidden;
}


.best-content > div{
    font-size: .75rem;
    color: #737373;
}